.container-div {
  align-items: center;
}

.create-button-div {
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
}

.feed-container {
  height: auto;
  min-height: 250px;
  border-style: solid;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex: auto;
  margin: 20px;
  border-color: lightgray;
}
