.btn-circle {
  width: 50px;
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
  line-height: 1.42857;
  background-color: lightgreen;
}
.socials i {
  margin-right: 14px;
  font-size: 17px;
  color: #d2c8c8;
  cursor: pointer
}